 /* Rating Overview */
 body {
  margin: 0;
  padding: 0;
 }
.rating_title {
  font-size: 3em;
  text-align: center;
  margin: 0;
  color: #000;
}
.rating_product_img {
  float: left;
  width: 38%;
  padding: 0 1%;
  text-align: center;
  max-height: 340px;
  overflow: hidden;
}
.rating_product_img picture {
  margin: 0 auto;
}
.rating_product_img img {
  max-width: 713px;
  width: 100%;
  height: 100%;
}
.rating_commonts {
  float: left;
  width: 57%;
  padding-right: 1%; 
  padding-left: 2%;
  height: 300px;
}
.rating_commonts label, .rating_commonts textarea {
  width: 98%;
  font-size: 2em;
}
.rating_commonts span {
  font-size: 2em;
}
.rating_commonts textarea {
  color: #fff;
  background-color: #666999;
  border: 3px solid #9999cc;
  padding: 1%;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%
}
.rating_commonts textarea::-webkit-input-placeholder { /* Edge */
  color: #9999cc;
}
.rating_commonts textarea:-ms-input-placeholder { /* Internet Explorer */
  color: #9999cc;
}
.rating_commonts textarea::placeholder {
  color: #9999cc;
}

.review_left {
  width: 35%;
  float: left;
}
#fixPara {
  width: 35%;
}
.rating_starts {
  text-align: center;
  padding-top: 30px;
}
.rating_starts p, {
  font-weight: normal;
}
.rating_starts h1 {
  color: yellow;
  font-size: 3em;
}
.reviewRow {
  width: 96%;
  padding-top: 30px;
  padding: 10px 2% 30px 2%;
}

.review_right {
  width: 65%;
  float: right;
}
.review_list {
  list-style: none;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
.review_list img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.review_list .username {
  font-size: 1.2em;
  font-weight: 500;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}
.review_list .stars {
  text-align: right;
    position: absolute;
    width: 300px;
    font-size: 1.2em;
    margin-top: 20px;
}
.review_list .reviewDate{
  font-size: 1.2em;
  font-weight: 500;
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
}
.review_list li div:first-child {
  width: 100%;
  float: left;
  margin-top: 30px;
}
.review_list li div:nth-child(2) {
  width: 100%;
  float: left;
}




 /* Three column layout */
.clear {
  margin:0;
  padding:0;
  clear: both; 
}
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.reviewRow:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 0%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 0%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 0%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 0%; height: 18px; background-color: #f44336;}


/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
.chart_container {
  width: 50%;
  margin: 0 auto;
}
